<!--/*
 * Desarrollado por Miguel Alejandro Rodriguez
 * miiguell005@gmail.com
 */-->
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 text-center ">
            <div class="titulo-h2">
                <h2>Sudoku</h2>
            </div>
        </div>

        <div class="col-md-12 altura-menu-boton  text-center">
            <div class="altura-menu-boton">
                <a class="btn btn-primary menu-boton" href="#!/sudoku/muyFacil">
                    <i class="fa fa-user-circle-o"></i> Muy fácil
                </a>
            </div>
        </div>
        <div class="col-md-12 text-center ">
            <div class="altura-menu-boton">
                <a class="btn btn-primary menu-boton" href="#!/sudoku/facil">
                    <i class="fa fa-user-circle-o"></i> Fácil
                </a>
            </div>
        </div>
        <div class="col-md-12 altura-menu-boton  text-center">
            <div class="altura-menu-boton">
                <a class="btn btn-primary menu-boton" href="#!/sudoku/medio">
                    <i class="fa fa-user-circle-o"></i> Medio
                </a>
            </div>
        </div>
        <div class="col-md-12 altura-menu-boton  text-center">
            <div class="altura-menu-boton">
                <a class=" btn btn-primary menu-boton" href="#!/sudoku/dificil">
                    <i class="fa fa-user-circle-o"></i> Difícil
                </a>
            </div>
        </div>
        <div class="col-md-12 altura-menu-boton  text-center">
            <div class="altura-menu-boton">
                <a class="btn btn-primary menu-boton" href="#!/sudoku/muyDificil">
                    <i class="fa fa-user-circle-o"></i> Muy difícil
                </a>
            </div>
        </div>
        <div class="col-md-12 text-center ">
            <div class="altura-menu-boton">
                <a class="btn btn-primary menu-boton" href="#!/">
                    <i class="fa fa-user-circle-o"></i> Atrás
                </a>
            </div>
        </div>
    </div>
</div>
